h1,h2,h3,h4, .sidebar-title{font-family: 'EB Garamond', serif;
    
}
body{font-family: 'Oswald', sans-serif;
font-size: 14px;}

img.sidebar-logo{
    background-color: white;
    border:3px solid white;
}